<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
		http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd 
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd 
		http://www.springframework.org/schema/aop 
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-3.2.xsd ">
	<!-- 读取配置文件 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<!-- 配置连接池 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="user" value="${jdbc.name}" />
		<property name="password" value="${jdbc.password}" />
		<property name="driverClass" value="${jdbc.dirver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
	</bean>

	<!-- 配置 sessionFactory 需要使用注解的事务管理器 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
			</props>
		</property>
		<!-- 映射扫描 -->
		 <property name="mappingDirectoryLocations">
			<list>
				<value>classpath:com/oracle/shop/user</value>
				<value>classpath:com/oracle/shop/catagory</value>
				<value>classpath:com/oracle/shop/product</value>
				<value>classpath:com/oracle/shop/categorysecond</value>
				<value>classpath:com/oracle/shop/order</value>
				<value>classpath:com/oracle/shop/admin</value>
			</list>
		</property>
	</bean>

</beans>